<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h4 class="modal-title">
			<strong> Confirm Access revoke</strong>
		</h4>
	</div>
	<div class="modal-body">
		<div data-ng-if="!modalData.noSelectedProperty || modalData.revokeAll ">
			Please confirm access revoke

			<div class="alert alert-success fade in" data-ng-if="status == 202">
				<button class="close" data-dismiss="alert">x</button>
				<i class="fa-fw fa fa-check"></i> <strong>Success</strong> The access has been revoked.
			</div>
			<div class="alert alert-danger fade in" data-ng-if="status != 202 && status !=-1">
				<button class="close" data-dismiss="alert">×</button>
				<i class="fa-fw fa fa-times"></i> <strong>Error!</strong> Access revoke has failed.
			</div>

		</div>
	</div>
	<div data-ng-if="modalData.noSelectedProperty && !modalData.revokeAll">
		<span data-ng-if="modalData.noSelectedProperty" class="margin-20"> Please select at least one Property</span>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ng-click="reload();cancel()">Close</button>
		<button type="button" class="btn btn-primary" name="ok"
			data-ng-if="!modalData.noSelectedProperty || modalData.revokeAll" ng-click="revokeDelegations();">Ok</button>
	</div>
</div>