<div>
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="cancel()">&times;</button>
		<h4 class="modal-title">Change Password</h4>
	</div>
	<div class="modal-body">
		<form name="uiform" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="userName" class="col-sm-3 control-label no-padding-right">Login Email:</label>
				<div class="col-sm-9 padding-5">
					<strong></strong>{{user.username}}</strong>
				</div>
			</div>
			<div class="form-group col-sm-12 required">
				<label for="oldpassword" class="col-sm-3 control-label no-padding-right">Current Password:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" placeholder="Current password.." id="oldpassword" name="oldpassword"
						data-ng-model="userform.oldpassword" required maxlength="30" tabindex="1" autocomplete="off">
					<div data-ng-messages="uiform.oldpassword.$error" role="alert" class="text-danger"
						data-ng-show="uiform.oldpassword.$touched">
						<div data-ng-message="required">Please enter a value for this field.</div>
						<div data-ng-message="pattern">Please enter a valid password.</div>
					</div>
				</div>
			</div>
			<div class="form-group col-sm-12 required">
				<label for="password" class="col-sm-3 control-label no-padding-right">New Password:<i
					class="fa fa-question-circle" tooltip data-placement="top"
					title="Password must be minimum 6 characters, maximum 30 characters and must contain atleast one uppercase, one lowercase & one number."
					style="cursor: pointer;"></i></label>
				<div class="col-sm-9">
					<input type="password" class="form-control  password-tips"
						placeholder="New password.." id="password" name="password"
						data-ng-model="userform.password" required minlength="6"
						maxlength="30" tabindex="2" autocomplete="off"
						data-toggle="popover" data-trigger='focus' data-placement="right"
						data-html="true" data-pop="#password-strength-meter-wrap"
						data-password-rule="password">
					<div data-ng-messages="uiform.password.$error" role="alert" class="text-danger"
						data-ng-show="uiform.password.$touched || uiform.$submitted">
						<div data-ng-message="required">Please enter a value for this field.</div>
						<div data-ng-message="pattern">Password does not match with rule.</div>
					</div>
					<div id="password-strength-meter-wrap" style="display: none">
						<div class="col-xs-12 password-strength-meter">
							<div class="strength-meter col-xs-12" style="display: none">
								<div class="strength-label"></div>
								<div class="strength-bar"></div>
							</div>
							<div class="password-rule  col-xs-12">
								<strong>Strong Password Tips:</strong>
								<ul>
									<li class="default" role="length">At least 6 characters.</li>
									<li class="default" role="numeric">At least one number.</li>
									<li class="default" role="lowercase">At least one lowercase and one uppercase letter.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group col-sm-12 required">
				<label for="passwordConfirm" class="col-sm-3 control-label no-padding-right">Confirm Password:<i
					class="fa fa-question-circle" tooltip data-placement="bottom"
					title="Password must be minimum 6 characters, maximum 30 characters and must contain atleast one uppercase, one lowercase & one number."
					style="cursor: pointer;"></i></label>
				<div class="col-sm-9">
					<input type="password" class="form-control" placeholder="Confirm new password.." id="passwordConfirm"
						name="passwordConfirm" data-ng-model="userform.passwordConfirm" required="required"
						ng-paste="$event.preventDefault()" minlength="6" maxlength="30" tabindex="3" autocomplete="off">
					<div data-ng-messages="uiform.passwordConfirm.$error" role="alert" class="text-danger"
						data-ng-show="uiform.passwordConfirm.$touched">
						<div data-ng-message="required">Please enter a value for this field.</div>
						<div data-ng-message="pattern">Does not match password.</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-offset-3 col-sm-9">
					<p role="alert" class="text-danger" data-ng-show="uiform.$touched || uiform.$invalid && uiform.$dirty">Please
						enter all required field.</p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger btn-lg" data-ng-click="close()">Cancel</button>
		<button type="submit" class="btn btn-success btn-lg" name="add" ng-disabled="uiform.$invalid"
			data-ng-click="actionUpdatePassword()">Update</button>

	</div>
</div>

<style>
input.ng-pristine+ul#strength {
	display: none;
}

ul#strength {
	display: inline;
	list-style: none;
	margin: 0;
	margin-left: 15px;
	padding: 0;
	vertical-align: 2px;
}

.point:last {
	margin: 0 !important;
}

.point {
	background: #DDD;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 20px;
}
</style>