<div>
	<div class="modal-header">
		<h4 class="modal-title">Activate Your Account</h4>
	</div>
	<div class="modal-body">
		<p class="text-warning">Thank you for your registration. In order to access the Property Management Portal, please click on "OK" to Activate Your Account to complete the process.</p>
		<!-- <p class="text-muted">Note: Page will be redirected to "MyLondonHydro" portal after 30 seconds.</p> -->

	</div>
	<div class="modal-footer">
		<button class="btn btn-danger btn-lg" ng-click="close()">OK</button>
	</div>
</div>