<div>
	<div class="modal-header">
		<h4 class="modal-title">No Property Management Portal Access</h4>
	</div>
	<div class="modal-body">
		<div>
			<p>You are not registered for the Property Management portal. If you are a property owner and would like access, please contact our Customer Services centre at (519) 661-5503 from 8:30 am to 4:00 pm, Monday through Friday. 
			We may also be reached by email at BillingSupport@londonhydro.com</p>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger btn-lg" ng-click="close()">OK</button>
	</div>
</div>