<div >


	<!-- Service request summary table and header  --> 
	 
	 <div
		class="col-lg-12 col-sm-12 col-xs-12 min-height-200" style="margin-top: -2%"
		id="accountDiv">
		<div class="widget widget-adjustment">
			<div class="widget-header">
				<span class="widget-caption" style="font-size: 13px; padding-top: 3px">Contact Accounts Administration</span>
				<div class="widget-buttons">
					<!-- <a href="" widget-maximize="" class="themeprimary"><i
						class="fa fa-expand"></i></a> <a href="" widget-collapse=""
						class="themeprimary"><i class="fa fa-minus"></i></a> -->
				</div>
			</div>

			<div class="widget-body backGroundWhite">
				<div class="section table-scrollable" data-blocking-loading >
					<div class=" col-sm-12" style="padding: 15px;">
						<div class="col-md-3 col-sm-12">
							<span class="input-icon"> <input type="text"
								class="form-control bg-white" id="definput" ng-minlength="3"
								 placeholder="Search Contact Accounts"
								style="width: 100%;" /><i
								class="glyphicon glyphicon-search circular themeprimary" style="color: #b20837 !important"></i>
							</span>
						</div>
						<div class="col-md-7 col-sm-12">
							<button class="btn btn-blue col-sm-5 pull-right"
								id="bootbox-options" data-toggle="modal" data-target="#myModal"
								>
								<i class="fa fa-user-plus pull-left" style="margin-top: 2px"></i>Add
								a New Contact to list
							</button>
						</div>
								<div class="modal fade" id="myModal" role="dialog" style="z-index: 1000001">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">New Site Contact</h4>
											</div>
											<div class="modal-body">
												<div class="widget-body">
													<div id="registration-form">
														<form role="form">

															<div class="form-group">
																<span class="input-icon icon-right"> <input
																	type="text" class="form-control"
																	id="organisationNameInput"
																	placeholder="Organization Name">

																</span>
															</div>
															<div class="form-group">
																<span class="input-icon icon-right"> <input
																	type="text" class="form-control" id="nameInput"
																	placeholder="First and Last Name">

																</span>
															</div>
															<div class="form-group">
																<span class="input-icon icon-right"> <input
																	type="text" class="form-control" id="workPhoneInput"
																	placeholder="Work Phone #">

																</span>
															</div>
															<div class="form-group">
																<span class="input-icon icon-right"> <input
																	type="text" class="form-control" id="cellPhoneInput"
																	placeholder="Cell Phone #">

																</span>
															</div>
															<div class="form-group">
																<span class="input-icon icon-right"> <input
																	type="text" class="form-control" id="emailInput"
																	placeholder="Email Address">

																</span>
															</div>
														</form>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-blue"
													data-dismiss="modal">Save Contact</button>
											</div>
										</div>

									</div>
								</div>
						<div class="col-md-2 col-sm-3 paginationDropdown pull-right">
							<select id="e1" tabindex="-1"
								class="select2-hidden-accessible bg-white pull-right" >
								
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="40">40</option>
								<option value="50">50</option> 
							</select>
						</div>
					</div>

					<div class="flip-scroll padding-top">
						<table
							class="table table-bordered table-striped table-condensed table-hover table-responsive">
							<caption class="hide">Data Table</caption>
							<thead >
								<th><a> Contact Name <i id="nickName-icon"
										class="fa fa-unsorted themelondonhydro table-column-heading" ></i></a></th>
								<th><a> Organization Name <i
										id="meterNumber-icon" class="fa fa-sort-up themelondonhydro table-column-heading" ></i></a></th>
								<th><a> Contact Email <i
										id="shortAddress-icon" class="fa fa-unsorted themelondonhydro table-column-heading" ></i></a></th>
								<th><a> Pending Site Count <i id="accountId-icon"
										class="fa fa-unsorted themelondonhydro table-column-heading" ></i></a></th>
								<th><a> Status <i id="id-icon"
										class="fa fa-unsorted themelondonhydro table-column-heading" ></i></a></th>
								
							</thead>
							<tbody >
								<tr class="abn-tree">
								
									<td >Sr. Bob Builder</td>
									<td >Buildy BcBuild Co. </td>
									<td >bob@bob.com</td>
									<td>0</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Sally Joe</td>
									<td >Jump and Build Stuff Ltd. </td>
									<td >bob@bobthebuilder.com</td>
									<td>24</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 3</td>
									<td >London Hydro</td>
									<td >contact3@londonhydro.com</td>
									<td>0</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 4</td>
									<td >London Hydro </td>
									<td >contact4@londonhydro.com</td>
									<td>24</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 5</td>
									<td >Buildy BcBuild Co. </td>
									<td >contact5@londonhydro.com</td>
									<td>0</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 6</td>
									<td >Buildy BcBuild Co. </td>
									<td >contact6@londonhydro.com</td>
									<td>24</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 7</td>
									<td >Buildy BcBuild Co. </td>
									<td >contact7@londonhydro.com</td>
									<td>0</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 8</td>
									<td >Buildy BcBuild Co. </td>
									<td >contact8@londonhydro.com</td>
									<td>24</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 9</td>
									<td >Buildy BcBuild Co. </td>
									<td >contact9@londonhydro.com</td>
									<td>0</td>
									<td>Active</td>	
								</tr>
								<tr class="abn-tree">
								
									<td >Contact 10</td>
									<td >Buildy BcBuild Co. </td>
									<td >contact10@londonhydro.com</td>
									<td>24</td>
									<td>Active</td>	
								</tr>
								
							</tbody>
						</table>
					</div>
					<div id="pagination" class="col-xs-12 padding-10"
						style=" border-top: 1px solid #bdbdbd;">
						<div class="col-md-5 col-sm-5 col-xs-12" style="margin-top: 5px">
							<strong>Showing 1 to 10 of 10 entries</strong>
						</div>
						<div class="btn-group col-md-7 col-sm-7 col-xs-12">
							<div class="pull-right">
								<button class="btn btn-default"
									>1</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>	
