                <footer id="footer" style="background: #3b3e44  !important; width: 100%; overflow: hidden; position: relative; z-index: 2">
				<div class="holder">
					<div class="empty-box">
						<div class="logo-box">
							<strong class="logo2"><a>London Hydro</a></strong>
							Powering London. <br />
							<strong>Empowering you.</strong> <br>
							<br> <small>Copyright &copy; 2017</small>
						</div>
					</div>
					<div class="text-section">
						<div class="text-box">
							<ul>
								<li><a>Privacy
										Policy</a></li>
								<li><a>Accessibility
										Policy</a></li>
								<li><a>Terms
										&amp; Conditions</a></li>
							</ul>
							<dl>
								<dt>Phone:</dt>
								<dd>(519) 661-5503</dd>
								<dt>Fax:</dt>
								<dd>(519) 661-5838</dd>
							</dl>
							<address>London Hydro, 111 Horton Street, P.O. Box
								2700, London, ON N6A 4H6</address>
						</div>
						<div class="box-row">
							<div class="box">
								<strong class="title">COMPANY</strong>
								<ul>
									<li><a>Careers</a></li>
									<li><a>Corporate
											Responsibilities</a></li>
									<li><a>Accessibility</a></li>
									<li><a>Conditions
											of Service</a></li>
									<li><a>Interval Data Centre</a></li>
									<li><a>Global
											Adjustment</a></li>
								</ul>
							</div>
							<div class="box box2">
								<strong class="title">CUSTOMER CARE</strong>
								<ul>
									<li><a>New
											Customer</a></li>
									<li><a>MyLondonHydro</a></li>
									<li><a>Contact Us</a></li>
									<li><a>Newsroom</a></li>
								</ul>
							</div>
						</div>
						<div class="box last">
							<strong class="title">QUICK LINKS</strong>
							<ul>
								<li><a>Ontario Power Authority</a></li>
								<li><a>Ontario Energy Board</a></li>
								<li><a>Electrical
										Safety Authority</a></li>
								<li><a>IESO</a></li>
								<li><a>Ministry
										of Energy</a></li>
								<li><a>Natural
										Resources of Canada</a></li>
								<li><a>Mayor's
										Sustainable Energy Council</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>