@CHARSET "ISO-8859-1";
.menu {
  padding: 0;
  margin: 0;
  border: none;
  height: 39px;
  min-height: 39px;
  z-index: 200;
}
.menu .sidebar-collapse {
  text-align: center;
  padding: 0;
  position: absolute;
  left: 189px;
  top: 0px;
  z-index: 2;
  width: 35px;
  height: 45px;
}
.menu .sidebar-collapse.active{
  left: 5px;
}
.menu .sidebar-collapse:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.menu .sidebar-collapse .collapse-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
 /*  color: #ffffff; */
  padding: 11px 5px;
  line-height: 22px;
  position: relative;
  -webkit-transition: background-color 0.218s ease;
  -moz-transition: background-color 0.218s ease;
  -o-transition: background-color 0.218s ease;
  transition: background-color 0.218s ease;
  -webkit-transition: -webkit-box-shadow 0.218s ease;
  -moz-transition: -moz-box-shadow 0.218s ease;
  -o-transition: box-shadow 0.218s ease;
  transition: box-shadow 0.218s ease;
  -webkit-transition: color 0.318s ease;
  -moz-transition: color 0.318s ease;
  -o-transition: color 0.318s ease;
  transition: color 0.318s ease;
}
.menu .sidebar-collapse.active:hover {
  box-shadow: none;
}
.menu .sidebar-collapse.active .collapse-icon {
  font-size: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 11px;
}

@media only screen and (max-width: 530px) {
  .menu .sidebar-collapse {
    left: auto;
    right: 0;
    width: 50px;
  }
  .menu .sidebar-collapse .collpse-icon {
    padding: 11px 15px;
  }
}	