<div>
	<div class="navbar mynavbar">
		<div class="navbar-inner mynavbar-inner">
			<div class="navbar-container">
				<!-- Navbar Barnd -->
				<div class="navbar-header pull-left">
					<a href="https://www.londonhydro.com" class="navbar-brand lhlogo"> <small> <img src="img/lh-logo-84.png" alt="" />
					</small>
					</a>
				</div>
				<!-- /Navbar Barnd -->
				<!-- Top Right Menu --->
				<div class="navbar-header pull-right text-white">
					<h2>{{ApplConfig.title}}</h2>
				</div>
			</div>
		</div>


	</div>
</div>