<div class="databox-cell  no-padding text-align-center">
	<div class="databox-top">
		<div id="donut-chart-moves" class="chart chart-md" style="height: 180px"></div>
	</div>
	<div class="databox-bottom" data-loading ng-model="dashboardData">
		<div class="databox-row row-12">
			<div class="databox-text">
				<h5>
					<a ui-sref="app.secure.properties({userId:contextParams.userId,pendingMoves:'Y'})" ng-if="workingCustomer==null">
						Pending Moves</a> <a
						ui-sref="app.secure.propertiescustomer({userId:contextParams.userId,customerId:contextParams.customerId,pendingMoves:'Y'})"
						ng-if="workingCustomer!=null"> Pending Moves</a>&nbsp;<span style="font-size: 1rem; font-weight: normal;">(<a
						ui-sref="app.secure.properties({userId:contextParams.userId,pendingMoves:'Y'})">Show Properties</a>) 
				</h5>
			</div>
		</div>
	</div>
</div>
</div>