<div class="databox-cell  no-padding text-align-center">
	<div class="databox-top">
		<div class="databox-text">
			<h5>
				<a ui-sref="app.secure.properties({userId:contextParams.userId})" ng-if="workingCustomer==null">Properties</a> <a
					ui-sref="app.secure.propertiescustomer({userId:contextParams.userId,customerId:workingCustomer.customerId})"
					ng-if="workingCustomer!=null">Properties</a>
			</h5>
		</div>
	</div>
	<div class="databox-bottom bordered-right-1 bordered-platinum" data-loading ng-model="dashboardData">
		<div id="donut-chart-property" class="chart chart-md"></div>
		<div class="col-xs-12">
			<div class="pull-right">
				<a ui-sref="app.secure.properties({userId:contextParams.userId})" ng-if="workingCustomer==null">
					View Properties</a> <a
					ui-sref="app.secure.propertiescustomer({userId:contextParams.userId,customerId:contextParams.customerId})"
					ng-if="workingCustomer!=null"> View Properties</a>
			</div>
		</div>
	</div>
</div>