<div class="row">
	<div class="col-xs-12">
		<div class="lh-subtitle bordered-bottom bordered-themesecondary">
			<label><strong>Customers</strong></label> &nbsp;|&nbsp;<a
				ui-sref="app.secure.customer({userId:contextParams.userId})" ng-if="accessibleCustomers.length>1">View All</a>
		</div>
	</div>
	<div class="col-xs-12">
		<ol class="dd-list">
			<li class="dd-item dd2-item " data-id="13" data-ng-repeat="customer in accessibleCustomers| limitTo : 2">
				<div class="dd-handle dd2-handle dd-item-company"></div>
				<div class="dd2-content">
					<a
						ui-sref="app.secure.customerroute({state:$state.current.name,userId:contextParams.userId,customerId:customer.customerId})"
						class="clear-color">
						<h6>
							<span class="text-muted">{{customer.customerId}}</sapn> <span style="margin-left: 100px; text-align: right;">
									<span class="badge badge-square badge-danger" title="Service disconnected"><i class="fa fa-power-off"
										aria-hidden="true"></i>11</span> <span class="badge badge-square badge-warning" title="Pending moves"><i
										class="fa fa-arrows-h" aria-hidden="true"></i>11</span>
							</span>
						</h6>
						<h5>{{customer|legalName}}</h5>

					</a>
				</div>
			</li>
		</ol>
	</div>
	<div class="col-xs-12">
		<div class="pull-right">
			<a ui-sref="app.secure.customer({userId:contextParams.userId})" ng-if="accessibleCustomers.length>0">more...</a>
		</div>
	</div>
</div>